<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="sidebar">
      <div id="logo">
        <%= link_to root_path do %>
          <%= image_tag 'logo.jpeg' %>
        <% end %>
      </div>

      <ul>
        <li class="category">Social</li>
        <li><a href="https://www.facebook.com/krishna.pandit.9699">facebook</a></li>
        <li><a href="https://www.twitter.com/krishnapandit0">twitter</a></li>
        <li><a href="https://www.instagram.com/krishnapandit501">instagram</a></li>
        <li><a href="https://www.github.com/jivpro">github</a></li>
        <li>About</li>
      </ul>

      <ul>
        <li class="category">Blog</li>
        <li><%= link_to "Posts", root_path %></li>
        <li><%= link_to "Create post", new_post_path %></li>
      </ul>
    </div>

    <%= yield %>
  </body>
</html>
